//
   Created with JetBrains WebStorm.
   User: osipovivan
   Date: 04.07.13
   Time: 10:49
   To change this template use File | Settings | File Templates.

div.class1
    div#id
        | inner
    div#nav
        ul(style='color:red')
            li #{item}
            li #{item}
            li #{item}
            li #{item}